@import '../../base';
@import './config';

hr.toolbar-menu-status-bar {
  height: 0;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  display: none;

  &.active {
    display: block;
    border-top: 3px solid $toolbar-status-active-color;
  }

  &.inactive {
    display: block;
    border-top: 3px solid $toolbar-status-inactive-color;
  }
}

.toolbar-menu-button {
  @include breakpoint(mobile) {
    float: left;
    clear: both;
    width: 100%;
    text-align: left;
  }
}

.toolbar-menu-button > img.svg-icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5rem;
}

.toolbar-menu-context-container {
  transition: max-height $animation-duration $animation-curve-default $animation-duration;

  @include breakpoint(desktop) {
    position: absolute;
    width: auto;
  }

  @include breakpoint(mobile) {
    float: left;
    clear: both;
    text-align: left;
    position: static;
    display: inline-flex;
    width: auto;
    min-width: 100%;
  }

  &.active {
    max-height: 500vh;
  }

  &:not(.active) {
    max-height: 0;
  }
}

.toolbar-menu-item-container {
  @include breakpoint(desktop) {
    display: inline-block;
  }
}
