@import '../../base';

.context-container {
  z-index: 250;
  position: absolute;
  width: auto;
  transition: max-height $animation-duration $animation-curve-default $animation-duration;
  &.active {
    max-height: 500vh;
  }
  &:not(.active) {
    max-height: 0;
  }
}

@media screen and (max-width: 719px) {
  .context-container {
    position: static;
    display: inline-flex;
    min-width: 100%;
  }
}

.button {
  &.active {
    background-color: rgba(155, 175, 45, 0.2);
  }
}
