$suggestions-margin-top: $input-padding;
$suggestions-background-color: $color-white;
$suggestions-fade-duration: .2s;
$suggestions-initial-width: 25.6 * $unit;
$suggestions-max-width: 25.6 * $unit;
$suggestions-active-background: $palette-grey-200;
$suggestions-hover-background: $palette-grey-100;
