html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

#react-main-mount {
    width: 100%;
    height: 100%;
}

img, video {
    max-width: 100%;
    height: auto;
}

a {
    color: #00B7FF;
}

* {
    box-sizing: border-box;
}

.dragging {
    cursor: move;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.top-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 1;
}

.map-container {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    /* For common desktop */
}

@media (min-width: 2560px) {
    /* For large screens */
    body {
        font-size: 2em;
    }

    input {
        font-size: 1em;
    }
}
