html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    overflow: inherit;
    text-overflow: inherit;
}

#react-main-mount {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
}

.map-container {
    width: 100%;
    height: 100%;
}
