html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

#react-main-mount {
    width: 100%;
    height: 100%;
}

img, video {
    max-width: 100%;
    height: auto;
}

a {
    color: #00B7FF;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.menu {
    position: absolute;
    top: 1vh;
    left: 1vw;
    z-index: 1;
}

@media (min-width: 768px) {
    /* For common desktop */
}

@media (min-width: 2560px) {
    /* For large screens */
    body {
        font-size: 2em;
    }
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
}

.menu li:hover {
    background-color: #0099cc;
}

.dragging {
    cursor: move;
}

.map-container {
    width: 100%;
    height: 100%;
}
