@import "~react-toolbox/lib/base";
@import "~react-toolbox/lib/commons";

.toolbar-context-container {
  position: absolute;
  width: auto;
  transition: $animation-duration $animation-curve-default $animation-duration;
  &.active {
    max-height: 100vh;
  }
  &:not(.active) {
    max-height: 0;
  }
}

.radio-button {
  cursor: pointer;
}

.radio-button:last-child {
  margin-bottom: 0;
}
