@import '../base';
@import "./config";

.toolbar-hover-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbar-hover-height;
  z-index: $z-index-toolbar;
}

.toolbar-hover-container > .toolbar {
  transition: transform $animation-duration $animation-curve-default $animation-duration,
  box-shadow $animation-duration $animation-curve-default $animation-duration;
  transform: translateY(-100%);
}

.toolbar-hover-container:hover > .toolbar, .toolbar-hover-container.pinned > .toolbar {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

.toolbar {
  display: flex;
  right: 0;
  width: 100%;
  padding: 1 * $unit;
  background-color: $toolbar-background-color;
  box-shadow: none;
}

.toolbar-item {
  display: inline-flex;
}

/*
.toolbar > * {
  align-self: flex-start;
}
*/

/* todo: refactor media queries to use mixins */

@media screen and (max-width: 719px) {
  .toolbar-item-context-container {
    position: static;
    display: inline-flex;
    float: left;
    clear: both;
  }
}

@media screen and (min-width: 720px) {
  .toggle-side-bar-button {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .toolbar-container {
    display: flex;
  }
}

@media screen and (max-width: 719px) {
  .toolbar-container {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-x: auto;
    width: calc(100vw - #{6 * $unit});
    transition: transform $animation-duration $animation-curve-default $animation-duration,
    box-shadow $animation-duration $animation-curve-default $animation-duration;
    z-index: 100;
    &:not(.active) {
      box-shadow: none;
      transform: translateX(100%);
    }
    &.active {
      box-shadow: -2px 0 5px rgba(0, 0, 0, .26);
      transform: translateX(0);
    }
  }
}

.inline-block {
  display: inline-block;
}

.svg-icon {
  width: 2rem;
  height: 2rem;
}
