@import '../base';
@import "./config";

.toolbar-hover-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbar-hover-height;
  z-index: $z-index-toolbar;
}

.toolbar-hover-container > .toolbar {
  transition: transform $animation-duration $animation-curve-default $animation-duration,
  box-shadow $animation-duration $animation-curve-default $animation-duration;
  transform: translateY(-100%);
}

.toolbar-hover-container:hover > .toolbar, .toolbar-hover-container.pinned > .toolbar {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

.toolbar {
  display: flex;
  right: 0;
  width: 100%;
  padding: 1 * $unit;
  background-color: $toolbar-background-color;
  box-shadow: none;
}

.toolbar-item {
  align-self: flex-start;
}

.toolbar-menu-toggle {
  @include breakpoint(desktop) {
    display: none;
  }
}

.toolbar-menu-container {
  @include breakpoint(mobile) {
    position: fixed;
    top: 0;
    left: 8 * $unit;
    right: 0;
    height: 100vh;
    overflow-x: auto;
    background-color: $toolbar-menu-background-color;
    z-index: $z-index-toolbar-menu;
    transition: transform $animation-duration $animation-curve-default $animation-duration,
    box-shadow $animation-duration $animation-curve-default $animation-duration;

    &.active {
      box-shadow: -2px 0 5px rgba(0, 0, 0, .26);
      transform: translateX(0);
    }

    &:not(.active) {
      box-shadow: none;
      transform: translateX(100%);
    }
  }
}

.inline-block {
  display: inline-block;
}
