$suggestions-background-color: $color-white !default;
$suggestions-fade-duration: .2s !default;
$suggestions-max-width: 25.6 * $unit !default;
$suggestions-active-background: $palette-grey-200 !default;
$suggestions-hover-background: $palette-grey-100 !default;
