@import "~react-toolbox/lib/base";
@import "~react-toolbox/lib/commons";

@mixin breakpoint($point) {
  @if $point == mobile {
    @media screen and (max-width: 719px) {
      @content;
    }
  } @else if $point == desktop {
    @media screen and (min-width: 720px) {
      @content;
    }
  }
}

$z-index-toolbar: 100;
$z-index-popup-floating: 90;
$z-index-popup-fixed: 100;
$z-index-toolbar-menu: 500;

img.svg-icon {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  display: inline-block;
}

.radio-button {
  cursor: pointer;
}

.radio-button:last-child {
  margin-bottom: 0;
}

.checkbox {
  cursor: pointer;
}

.checkbox:last-child {
  margin-bottom: 0;
}

.switch {
  cursor: pointer;
}
