@import './base';
@import './config';

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 2560px) {
  /* WQHD Desktop */
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 3840px) {
  /* UHD Desktop */
  html {
    font-size: 137.5%;
  }
}

.button-icon {
  font-size: $button-font-icon-font-size;
}
