@import "~react-toolbox/lib/base";
@import "~react-toolbox/lib/commons";
@import './config';

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  /* Phone (portrait) */
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 720px) {
  /* Small tablet (portrait) */
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 1280px) {
  /* Large tablet (landscape), desktop */
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 1920px) {
  /* HD Desktop */
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 2560px) {
  /* WQHD Desktop */
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 3840px) {
  /* UHD Desktop */
  html {
    font-size: 137.5%;
    color: red;
  }
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-top: 1 * $unit;
  padding-bottom: 1 * $unit;
  background-color: $top-bar-background-color;
}

.top-bar > * {
  align-self: flex-start;
}

.suggestions {
  margin-top: $input-padding;
  background-color: $suggestions-background-color;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  opacity: 0;
  width: $suggestions-initial-width;
  max-width: $suggestions-max-width;
  pointer-events: none;
  transition: opacity $suggestions-fade-duration $animation-curve-default;
  overflow-y: auto;
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

.suggestions * {
  z-index: 500;
}

.suggestions .active {
  background-color: $suggestions-active-background;
}

.suggestions li:hover {
  &:not(.active) {
    background-color: $suggestions-hover-background;
  }
}

.suggestions-item {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form > * {
  display: inline-block;
  vertical-align: top;
}

.location-box {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: auto;
  z-index: 10;
  padding: 1 * $unit 1 * $unit;
  color: $color-black;
  background-color: $bottom-bar-background-color;
  transition: opacity $animation-duration $animation-curve-default 0s,
  transform $animation-duration $animation-curve-default $animation-duration,
  box-shadow $animation-duration $animation-curve-default $animation-duration;
  pointer-events: auto;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &:not(.active) {
    transform: translateY(100%);
    box-shadow: none;
    pointer-events: none;
  }
  &.active {
    transform: translateY(0);
    pointer-events: auto;
  }
}

@media screen and (min-width: 720px) {
  .location-box {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: auto;
    width: 32rem;
    height: auto;
    &:not(.active) {
      transform: translateY(0);
      opacity: 0;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    }
    &.active {
      transform: translateY(0);
      opacity: 1;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    }
  }
}

.location-box > * {
  align-self: center;
  margin: 0.5 * $unit 0;
}

.location-box-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.location-box-info > * {
  margin: 0 0.5 * $unit;
  align-self: center;
}

.location-box-actions > * {
  margin: 0 0.5 * $unit;
}

.button-icon {
  font-size: $button-font-icon-font-size;
}
