$unit: 1rem !default;

$color-primary: #bdd731;
$color-primary-dark: #ffffff;
$color-accent: #ff1400;
$color-neutral: #aaa;

$input-padding: 0 !default;
$input-text-error-color: #ff1400;

$appbar-height: auto;
$appbar-h-padding: 1 * $unit;
