$unit: 1rem !default;

$color-primary: #bdd731 !default;
$color-primary-dark: #fff !default;
$color-accent: #ff1400 !default;

$input-padding: 0 !default;
$input-text-error-color: #ff1400 !default;

$appbar-height: auto !default;
$appbar-h-padding: 1 * $unit !default;
